@charset "utf-8";
/* CSS Document */
body{
	background-color: #FCFAF4
}

#encabezado{
 margin-left: 500px;
}

#barra {
    width: 1060px;
    height: 100px;
    background-color: #572364;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	margin: 10px auto;
}
#barra ul{
	list-style: none
}

#barra ul li{
	display: inline-block;
}

#barra ul li a{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 500px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    margin-top: 20px;
    float: left;
    padding-left: 100px;
}

#contenido{
	background-color: #9F5BB9;
	margin: -22px auto;
}

#contenido h1{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #D6B853;
	text-align: center;
	padding-top: 20px;
}

#contenido p{
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 5px;
	text-align: justify
}

#contenido h2{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 200;
	font-size: 28px;
	color: wheat;
	text-align: center;
}

#contenido img{
	align-content: center;
	margin-left: 360px
}

.informacion{
	width: 980px;
	height: 100px;
	background-color: #E3D068;
}

.informacion h3{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 700;
	text-align: center;
	font-size: 30px;
	color: white
}

.informacion{
	position: relative;
	display: block;
	color: white;
	text-align: center;
	width: 1060px;
	margin: -30px auto;
	align-content: center;
	border-radius: 0px 0px 10px 10px;
}

#pie h4{
	color: #572364;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 400;
	padding-top: 20px
}




















